{% extends "base.html" %}

{% block title %}Добавить палубу Седова{% endblock title %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'watch_control_app:deck_list' %}">Палубы Седова</a></li>
            <li class="breadcrumb-item active" aria-current="page">Добавить</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <h3> {% include "components/icons/ship.html" %} Добавить палубу Седова</h3>
        </div>

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="card-body">
                {{ form.d_name }}
                {{ form.d_prioriter }}
                {{ form.d_svg }}
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Добавить палубу</button>
            </div>
        </form>
    </div>
    
{% endblock body %}