<div class="modal fade" id="{{delete_base}}_{{delete_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="exampleModalLabel">Удалить {{name_base}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить <span class="font-weight-bold">{{name_base}} "{{name}}"</span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <form method="POST" action="{{url_name}}">
            {% csrf_token %}
            <input  type="submit" class="btn btn-danger" value="Удалить"></input>
        </form>
      </div>
    </div>
  </div>
</div>